@{
    ViewData["Title"] = "Warehouse";
}
<div class="rowFlex" style="height: 444px;">
    <div class="rowFlex" id="stats">
        <table class="table">
            <thead>
                <tr class="align-items-center">
                    <th></th>
                    <th class="text-center"><h3 style="color:green">TODAY</h3></th>
                    <th class="text-center"><h3 style="color:green">MTD</h3></th>
                    <th class="text-center"><h3 style="color:green">YTD</h3></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><h2 style="color:green">Received</h2></td>
                    <td class="text-center"><h3>@Model.topInfo.today.received</h3></td>
                    <td class="text-center"><h3>@Model.topInfo.mtd.received</h3></td>
                    <td class="text-center"><h3>@Model.topInfo.ytd.received</h3></td>
                </tr>
                <tr>
                    <td><h2 style="color:green">Shipped</h2></td>
                    <td class="text-center"><h3>@Model.topInfo.today.shipped</h3></td>
                    <td class="text-center"><h3>@Model.topInfo.mtd.shipped</h3></td>
                    <td class="text-center"><h3>@Model.topInfo.ytd.shipped</h3></td>
                </tr>
                <tr>
                    <td><h2 style="color:green">Delivered</h2></td>
                    <td class="text-center"><h3>@Model.topInfo.today.delivered</h3></td>
                    <td class="text-center"><h3>@Model.topInfo.mtd.delivered</h3></td>
                    <td class="text-center"><h3>@Model.topInfo.ytd.delivered</h3></td>
                </tr>
                <tr>
                    <td><h2 style="color:green">Mispacks</h2></td>
                    <td class="text-center"><h3>@Model.topInfo.today.mispacks</h3></td>
                    <td class="text-center"><h3>@Model.topInfo.mtd.mispacks</h3></td>
                    <td class="text-center"><h3>@Model.topInfo.ytd.mispacks</h3></td>
                </tr>
            </tbody>
        </table>
    </div>
    <pre>        </pre>
    <div id="slideshow">
        <div style="align-items: center; " id="CostingInfo">
            <table class="table">
                <thead><tr><th><h1 style="color:green">Costing Information</h1></th></tr></thead>
                <thead>
                    <tr>
                        <th width="10%"></th>
                        <th class="text-center" style="color:green"><b>@DateTime.Today.AddYears(-1).ToString("MMMM yyyy")</b></th>
                        <th class="text-center" style="color:green"><b>@DateTime.Today.ToString("MMMM yyyy")</b></th>
                        <th class="text-center" style="color:green"><b>@DateTime.Today.AddYears(-1).ToString("yyyy 'YTD as of' MM-dd")</b></th>
                        <th class="text-center" style="color:green"><b>@DateTime.Today.ToString("yyyy 'YTD as of' MM-dd")</b></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><b>Shipping Charges</b></td>
                        @{
                            if (Model != null)
                            {
                                foreach (var data in Model.topInfo.info)
                                {
                                    <td class="text-center"> @data.ShippingCharges </td>
                                }
                            }
                        }
                    </tr>
                    <tr>
                        <td><b>Average Cost Per Package</b></td>
                        @{
                            if (Model != null)
                            {
                                foreach (var data in Model.topInfo.info)
                                {
                                    <td class="text-center"> @data.AvgCostPerPackage </td>
                                }
                            }
                        }
                    </tr>
                    <tr>
                        <td><b>Average Cost Per Pound</b></td>
                        @{
                            if (Model != null)
                            {
                                foreach (var data in Model.topInfo.info)
                                {
                                    <td class="text-center"> @data.CostPerPound </td>
                                }
                            }
                        }
                    </tr>
                    <tr>
                        <td><b>Surcharges</b></td>
                        @{
                            if (Model != null)
                            {
                                foreach (var data in Model.topInfo.info)
                                {
                                    <td class="text-center"> @data.Surcharges </td>
                                }
                            }
                        }
                    </tr>
                    <tr>
                        <td><b>Audit Savings</b></td>
                        @{
                            if (Model != null)
                            {
                                foreach (var data in Model.topInfo.info)
                                {
                                    <td class="text-center"> @data.AuditSavings </td>
                                }
                            }
                        }
                    </tr>
                </tbody>

            </table>
        </div>

        <div style="align-items: center;  ">
            <h1 style="color:green">AutoCrib Specialists</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th width="40%"><b>Specialist</b></th>
                        <th><b>Items</b></th>
                        <th><b>Out of Stock</b></th>
                        <th><b>Red</b></th>
                        <th><b>Yellow</b></th>
                        <th><b>In Stock %</b></th>
                    </tr>
                </thead>
            </table>
            <div class="columnFlex">

                <table class="table table-responsive" id="AutocribsSpecialist">
                    <tbody>

                        @{
                            int totalItems = 0;
                            int totalOOS = 0;
                            int totalRed = 0;
                            int totalYellow = 0;
                            double avgInStock = 0;
                            if (Model != null)
                            {
                                foreach (var data in Model.topInfo.autocribSpecialist)
                                {
                                    totalItems += data.items;
                                    totalOOS += data.outOfStock;
                                    totalRed += data.red;
                                    totalYellow += data.yellow;
                                    avgInStock += data.inStock;

                                    <tr>
                                        <td width="44%">@data.name</td>
                                        <td width="12%">@data.items</td>
                                        <td width="12%">@data.outOfStock</td>
                                        <td width="12%">@data.red</td>
                                        <td width="12%">@data.yellow</td>
                                        <td>@data.inStock</td>
                                    </tr>
                                }
                            }

                            avgInStock /= Model.topInfo.autocribSpecialist.Count;
                            int[] arrTotal = { totalItems, totalOOS, totalRed, totalYellow };
                        }
                    </tbody>
                </table>
                <table class="table">
                    <thead>
                        <tr>
                            <th width="44%"><h4>TOTAL</h4></th>
                            @{
                                foreach (var data in arrTotal)
                                {
                                    <th width="11%"><h5>@data</h5></th>
                                }
                                <th><h5>@avgInStock.ToString("0.00'%'")</h5></th>
                            }
                        </tr>
                    </thead>
                </table>
            </div>
        </div>

        <div id="daysOfSupply">
            <h1 style="color:green">Days of Supply</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th width="40%"><b>Account</b></th>
                        <th><b>Items</b></th>
                        <th><b>Out of Stock</b></th>
                        <th><b>Red</b></th>
                        <th><b>Yellow</b></th>
                        <th><b>In Stock %</b></th>
                    </tr>
                </thead>
            </table> <table class="table table-responsive" id="daysOfSupply">
                    <tbody>
                        @{
                            totalItems = 0;
                            totalOOS = 0;
                            totalRed = 0;
                            totalYellow = 0;
                            avgInStock = 0;

                            if (Model != null)
                            {
                                foreach (var data in Model.topInfo.daysOfSupply)
                                {
                                    totalItems += data.items;
                                    totalOOS += data.outOfStock;
                                    totalRed += data.red;
                                    totalYellow += data.yellow;
                                    avgInStock += data.inStock;

                                    <tr>
                                        <td width="44%">@data.name.ToUpper()</td>
                                        <td width="12%">@data.items</td>
                                        <td width="12%">@data.outOfStock</td>
                                        <td width="12%">@data.red</td>
                                        <td width="12%">@data.yellow</td>
                                        <td>@data.inStock</td>
                                    </tr>
                                }
                            }

                            avgInStock /= Model.topInfo.daysOfSupply.Count;
                            int[] arrTotalSupply = { totalItems, totalOOS, totalRed, totalYellow };
                        }
                    </tbody>
                </table>
                <table class="table">
                    <thead>
                        <tr>
                            <th width="44%"><h4>TOTAL</h4></th>
                            @{
                                foreach (var data in arrTotalSupply)
                                {
                                    <th width="11%"><h5>@data</h5></th>
                                }
                                <th><h5>@avgInStock.ToString("0.00'%'")</h5></th>
                            }
                        </tr>
                    </thead>
                </table>
            
               

        </div>
    </div>

</div>

@Html.Partial("_Bottom")


